header {
    background-color: #4069E5FF;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-home {
    width: 100%;
    margin: 0;
    padding-top: 30px;
    justify-content: center;
    align-items: center;
}

.logo {
    padding-left: 42px;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Pages {
    padding-right: 66px;
    gap: 70px;
    display: flex;
}

.compound {
    width: 100%;
    display: flex;
    gap: 60px;
    align-items: center;
    padding-bottom: 40px;
    justify-content: center;
}

.MyPicture {
    position: relative; 
    top: 57px;
    width: 583px; 
    height: 483px; 
    border-radius: 8px;
}

.main-about {
    display: flex; 
    width: 100%;
    padding-top: 30px; 
    padding-bottom: 30px; 
    flex-direction: column;
    text-align: center;
}

.content {
    position: relative;
    width: 100%;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 30px;
}

.date-text-section-left {
    position: relative;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    max-width: 400px;
    text-align: left;
    margin-right: 500px;
}

.date-text-section-right {
    position: relative;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    max-width: 400px;
    text-align: right;
    margin-left: 500px;
}

.date-text-section-left h2{
    color: #203ee8;
    margin: 0;
}

.date-text-section-right h2{
    color: #203ee8;
    margin: 0;
}

.circle-container {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 200px;
    left: 50%;
    transform: translateX(-50%);
}

.outer-circle {
    width: 60px;
    height: 60px;
    background-color: rgba(0, 255, 255, 0.5); /* Color azul claro y semitransparente */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-circle {
    width: 30px;
    height: 30px;
    background-color: #00e5ff; /* Color azul claro */
    border-radius: 50%;
}

a {
    text-decoration: none;
    color: black;
}

.page {
    color: white;
    font-size: 22px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.page:hover {
    color: #ff1900;
    transform: scale(1.5);
}

@media (max-width:940px){
    header{
        flex-direction: column;
    }
    .logo{
        padding-left: 0px;
    }
    .Pages{
        padding-right: 0px;
    }
}

@media (max-width:1228px){
    .compound{
        flex-direction: column;
        padding-left: 0px;
    }
    .textmain{
        padding-left: 71px;
    }
    .MyPicture{
        left:0px
    }
}